PORT=8080
DOMAIN=http://localhost:8080

KEYCLOAK_ORIGIN=http://localhost:8081
KEYCLOAK_REALM=test
KEYCLOAK_CLIENT_ID=testapp
KEYCLOAK_CLIENT_SECRET=testapp-secret

GOOGLE_CLOUD_PROJECT=oidc-testapp
FIRESTORE_EMULATOR_HOST=localhost:8082
